<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>About Us</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">J V Thummar & Associates</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-member">
    <div class="container">
        <div class="content-wrapper">
            <section class="about-us-wrapper">
                <div class="row">
                    <div class="col-md-8">
                        <h2>About J V Thummar & Associates</h2>
                        <p>
                            J V Thummar &amp; Associates is a Proprietorship Firm of Practicing Company Secretary in
                            Ahmedabad, Gujarat, established in the year of 2017 by its founder Mr. J V Thummar
                            who has provided legal advice and corporate secretarial services to clients for more
                            than a year and is well reputed in the area of corporate laws.
                        </p>
                        <p>
                            We have been able to place ourselves as one of the leading Corporate Consultants in
                            Ahmedabad (Gujarat) to provide wide range of quality professional services in the field
                            of Firm provide wide variety of advisory, secretarial audit. The core area of
                            specialization is in Corporate Law, Securities Law, Depository Participant Audit,
                            RBI/Foreign Investment Laws and Legal Due Diligence Audit, LLP Act, Trademark/IPR,
                            Various Business Registration Services.
                        </p>
                        <p>
                            The firm is also registered with The Institute of Company Secretaries of India based in
                            Ahmedabad. The firm has its operations across various parts of India. It is ideally
                            placed to serve Corporate, Companies, trade &amp; industry and has easy access to
                            Government offices in Ahmedabad such as Registrar of Companies, Office of Regional
                            Director, Office of Official Liquidator and Branch Office of various Regulatory bodies
                            such as SEBI, RBI, BSE, NSDL and CDSL etc. Registration services of the Branch Offices
                            in India by Foreign Company, Registration of Project Office in India by Foreign
                            Company and FDI Consultant in India.
                        </p>
                        <br>
                        <h2>Our Team</h2>
                        <p>
                            The Firm today is a proprietorship; CS J V Thummar is proprietor of the firm and has
                            other associates with the firm who are well experienced in their respective service domains.
                            The Firm also boosts a team of qualified company secretaries in its staff.
                        </p>
                        <p>
                            <li>CS J. V. Thummar (B.Com, ACS, LLB Spl)</li>
                            <li>Aditya Sheth (B.Com, LLB) – Management Trainee</li>
                            <li>CS Dhairya Shah (B.Com, LLB, ACS) - Associate</li>
                            <li>CS Ankita Lunagariya (M.Com, ACS) - Associate</li>
                        </p>
                        <p>
                            The Firm is ably supported by a strong network of Associate Practicing Company Secretaries,
                            Chartered Accountants, Lawyers and Consultants from various fields of experience.

                        </p>
                        <br>

                    </div><!-- /.col-md-8 -->

                    <div class="col-md-4">
                        <div class="info-in-short">
                            <img class="img-responsive" src="assets/img/cs j v thummar & associates.jpg" alt="">
                            <!-- <div class="member-info">
                                Born: 16th May, 1992<br>
                                Height: 175 c.m<br>
                                Experience: 5 years<br>
                                Hobbies: Fishing, Driving, Reading<br>
                                Nationality: Indian
                            </div> -->

                            <div class="info-address">
                                <h2>Contact Info:</h2>
                                <address>
                                    <i class="fa fa-envelope"></i> <a href="mailto:csjayeshthummar@gmail.com"> csjayeshthummar@gmail.com</a><br>
                                    <i class="fa fa-phone"></i> <a href="tel:9662650287"> +91 9662650287</a> <br>
                                    <i class="fa fa-building"></i> 227, Stadium House,<br>
                                    Nr. Das Khaman, Stadium Cross Road,<br>
                                    Navrangpura, Ahmedabad - 380009<br>
                                    India
                                  </address>
                                <div class="social-share">
                                    <ul class="list-inline social-links">
                                        <li><a href="https://www.facebook.com/jvthummarassociates"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/csjayeshthummar"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://www.instagram.com/jvthummarassociates/"><i
                                                    class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </section><!-- /.about-us-wrapper -->
        </div><!-- /.content-wrapper -->
    </div><!-- /.container -->
</section>