<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                           <h1>Member Info</h1>
                       </div>
                   <ol class="breadcrumb">
                      <li><a href="#">Home</a></li>
                      <li class="active">Bobby Webb</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-member">
       <div class="container">
        <div class="content-wrapper">
            <section class="about-us-wrapper">
                <div class="row"> 
                    <div class="col-md-8">
                        <h2>About Bobby Webb</h2>
                        <p>Nam et libero rhoncus, pellentesque elit ac, condimentum lorem. Cras rutrum odio sem, in dictum lacus mollis sed. Mauris suscipit dignissim ante, nec blandit diam hendrerit quis. Pellentesque congue, mauris a ultrices auctor, lorem nunc aliquam quam, ut sagittis justo ligula vitae metus. Vivamus sed nulla sed dui lacinia mollis vitae ut orci. Aenean tristique viverra ligula, at convallis enim faucibus nec. Mauris at malesuada diam. Nam sit amet neque quis diam molestie suscipit. Vivamus tempor vehicula neque quis tincidunt. Integer ac euismod augue.</p>
                        <p>Suspendisse molestie, massa a blandit cursus, est urna egestas dui, in aliquet risus enim sed leo. Ut at dignissim mauris. Ut pharetra augue velit, in sollicitudin metus rutrum eget. Nunc eget aliquam ipsum, ut scelerisque arcu. Mauris ultrices ante vel augue scelerisque, vitae bibendum enim elementum. Aenean at pretium quam. Maecenas lobortis condimentum enim, quis tempus nunc vestibulum vitae.Praesent eget justo turpis. Aliquam sollicitudin consequat ligula, et euismod ipsum luctus id. Integer sagittisl pharetra nulla, eget pulvinar eros laoreet vel.</p>
                        <br>
                        <h2>Early Life</h2>
                        <p>Suspendisse molestie, massa a blandit cursus, est urna egestas dui, in aliquet risus enim sed leo. Ut at dignissim mauris. Ut pharetra augue velit, in sollicitudin metus rutrum eget. Nunc eget aliquam ipsum, ut scelerisque arcu. Mauris ultrices ante vel augue scelerisque, vitae bibendum enim elementum. Aenean at pretium quam. Maecenas lobortis condimentum enim, quis tempus nunc vestibulum vitae. In quis facilisis magna, ut vestibulum erat. Curabitur tempor sodales eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius eu eros in pretium. Praesent eget justo turpis. Aliquam sollicitudin consequat ligula, et euismod ipsum luctus id. Integer sagittisl pharetra nulla, eget.</p>
                        <br>
                        <h2>Work Experience</h2>
                        <p>Suspendisse molestie, massa a blandit cursus, est urna egestas dui, in aliquet risus enim sed leo. Ut at dignissim mauris. Ut pharetra augue velit, in sollicitudin metus rutrum eget. Nunc eget aliquam ipsum, ut scelerisque arcu. Mauris ultrices ante vel augue scelerisque, vitae bibendum enim elementum. Aenean at pretium quam. Maecenas lobortis condimentum enim, quis tempus nunc vestibulum vitae.</p>

                    </div><!-- /.col-md-8 -->

                    <div class="col-md-4">
                        <div class="info-in-short">
                            <img class="img-responsive" src="assets/img/team/tm1.jpg" alt="">
                            <div class="member-info">
                                Born: 19th May, 1979<br> 
                                Height: 175 c.m<br> 
                                Experience: 5 years<br> 
                                Hobbies: Fishing, Driving, Reading<br> 
                                Nationality: American
                            </div>

                            <div class="info-address">
                                <h2>Contact Info:</h2>
                                <address>
                                    Email: <a href="mailto:email@me.com">email@me.com</a><br> 
                                    Phone:+124 09467 335<br>
                                    Website: <a href="#">Example.com</a><br>
                                    Box 564, Disneyland<br> 
                                    USA
                                </address>
                                <div class="social-share">
                                    <ul class="list-inline social-links">
                                        <li><a title="Facebook" href="#" target="_blank"><i  class="fa fa-facebook "></i></a></li>
                                        <li><a title="Twitter" href="#" target="_blank"><i   class="fa fa-twitter "></i></a></li>
                                        <li><a title="Linkedin" href="#" target="_blank"><i   class="fa fa-linkedin "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </section><!-- /.about-us-wrapper -->
        </div><!-- /.content-wrapper -->
    </div><!-- /.container -->
</section>