<header class="header">
    <nav class="top-bar">
        <div class="overlay-bg">
            <div class="container">
                <div class="row">
                    
                    <div class="col-sm-6 col-xs-12">
                        <div class="call-to-action">
                            <ul class="list-inline">
                                <li><a href="tel:9662650287"><i class="fa fa-phone"></i>+91 9662650287</a></li>
                                <li><a href="mailto:csjayeshthummar@gmail.com"><i class="fa fa-envelope"></i> csjayeshthummar@gmail.com</a></li>
                            </ul>
                        </div><!-- /.call-to-action -->
                    </div><!-- /.col-sm-6 -->

                    <div class="col-sm-6 hidden-xs">
                        <div class="topbar-right">

                            <ul class="social-links list-inline pull-right">
                                <li><a href="https://www.facebook.com/jvthummarassociates"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/csjayeshthummar"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/jvthummarassociates/"><i class="fa fa-instagram"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-tumblr"></i></a></li> -->
                            </ul>
                        </div><!-- /.social-links -->
                    </div><!-- /.col-sm-6 -->
                    
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.overlay-bg -->
    </nav><!-- /.top-bar -->

    <div id="search">
      <button type="button" class="close">×</button>
      <form>
          <input type="search" value="" placeholder="type keyword(s) here" />
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>
  
  <nav class="navbar navbar-default" role="navigation">
      
      <div class="container mainnav">
          <div class="navbar-header">
              <h1 class="logo">
                  <a class="navbar-brand" href="/" style="font-size: 30px; font-weight: bold; color: #3B2B6A;">
                    J V THUMMAR & ASSOCIATES
                    </a>
                </h1>

              <!-- offcanvas-trigger -->
              <button type="button" class="navbar-toggle collapsed pull-right" >
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-collapse">

              <span class="search-button pull-right"><a href="#search"><i class="fa fa-search"></i></a></span>

              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown active"><a href="/">Home</a></li>
                  <li><a href="ourservices">Our Services</a></li>
                  <li><a href="about-us">About Us</a></li>
                  <li><a href="usefulllinks">UseFull Link</a></li>
                  <li><a href="contact-us">Contact Us</a></li>
                  <!-- <li><a href="blogs">Blogs</a></li> -->

              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
      
  </nav>
</header>