<app-header></app-header>
<!-- <ngx-loading-bar></ngx-loading-bar> -->

<!-- <ng-progress #progressBar [meteor]="options.meteor" [color]="options.color" [min]="options.min" [speed]="options.speed" [spinner]="options.spinner" [max]="options.max"
[spinnerPosition]="options.spinnerPosition" [direction]="options.direction" [thick]="options.thick" [trickleSpeed]="options.trickleSpeed"
[ease]="options.ease" (started)="onStarted()" (completed)="onCompleted()">
</ng-progress> -->


  <!-- <app-sidebar *ngIf="showSidebar" fxLayout="column" fxFlex="300px"></app-sidebar> -->
  <div id="st-container" class="st-container">
    <div class="st-pusher">
        <div class="st-content">
            <router-outlet></router-outlet>
      </div>
     </div>
    </div>
<app-footer></app-footer>