<section class="page-title-section">
    <div class="container">
        <div class="page-header-wrap">
            <div class="page-header">
                <h1>Our Services</h1>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
</section>



<section class="faq-contents">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="faq-accordions">
                    <div class="accordion" id="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseOne">
                                    Company Law &amp; Secretarial Compliance
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    Company Law &amp; Secretarial Compliance
                                </div>
                            </div><!-- /.accordion-group-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseTwo">
                                    Securities Laws &amp; Compliances
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Securities Laws &amp; Compliances
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseThree">
                                    Corporate Restructuring-Merger/Amalgamation
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Corporate Restructuring-Merger/Amalgamation
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseFour">
                                    IPO/Listing/Delisting
                                </a>
                            </div>
                            <div id="collapseFour" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    IPO/Listing/Delisting
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseFive">
                                    Legal Documents and Due Diligence
                                </a>
                            </div>
                            <div id="collapseFive" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Legal Documents and Due Diligence
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseSix">
                                    Corporate Compliance, Audits & Certifications
                                </a>
                            </div>
                            <div id="collapseSix" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Corporate Compliance, Audits & Certifications
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseSeven">
                                    Depository Participant Audit
                                </a>
                            </div>
                            <div id="collapseSeven" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Depository Participant Audit
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseEight">
                                    FEMA / RBI Matters - Advice & support
                                </a>
                            </div>
                            <div id="collapseEight" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    FEMA / RBI Matters - Advice & support
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse9">
                                    NBFC Company, PVT LTD, OPC, SEC 8, Limited Company Formation and post formation
                                    compliances
                                </a>
                            </div>
                            <div id="collapse9" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    NBFC Company, PVT LTD, OPC, SEC 8, Limited Company Formation and post formation
                                    compliances
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse10">
                                    Limited Liability Partnership Registration & Compliance
                                </a>
                            </div>
                            <div id="collapse10" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Limited Liability Partnership Registration & Compliance
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse11">
                                    General Corporate Advisory
                                </a>
                            </div>
                            <div id="collapse11" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    General Corporate Advisory
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse12">
                                    IPR – Trademark, Copyright, Patents
                                </a>
                            </div>
                            <div id="collapse12" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    IPR – Trademark, Copyright, Patents
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse13">
                                    Various Business Registration & License
                                </a>
                            </div>
                            <div id="collapse13" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Various Business Registration & License
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse14">
                                    Liasioning with all Regulatory Authorities
                                </a>
                            </div>
                            <div id="collapse14" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Liasioning with all Regulatory Authorities
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse15">
                                    Appearing before various regulatory and quasi-judicial authorities
                                </a>
                            </div>
                            <div id="collapse15" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Appearing before various regulatory and quasi-judicial authorities
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse16">
                                    Income Tax and Indirect Taxation consultancy
                                </a>
                            </div>
                            <div id="collapse16" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Income Tax and Indirect Taxation consultancy
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse17">
                                    Accounting – Preparation and Finalization
                                </a>
                            </div>
                            <div id="collapse17" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Accounting – Preparation and Finalization
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse18">
                                    XBRL Conversion Services
                                </a>
                            </div>
                            <div id="collapse18" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    XBRL Conversion Services
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse19">
                                    Conversion of Companies/LLPs/Partnership Firms in to other formations
                                </a>
                            </div>
                            <div id="collapse19" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Conversion of Companies/LLPs/Partnership Firms in to other formations
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse20">
                                    Drafting of various legal documents
                                </a>
                            </div>
                            <div id="collapse20" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Drafting of various legal documents
                                </div>
                            </div><!-- /.accordion-body-->
                        </div><!-- /.accordion-group-->

                    </div>

                </div><!-- /.faq-accordions -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>